h1{
    text-transform: uppercase;
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-weight: 400;
}
p{
    padding: 10px 20px;
    font-display: 'Raleway', sans-serif;
    font-weight: 200;
}
h2{
    padding: 10px 20px;
    font-display: 'Raleway', sans-serif;
    font-weight: 400;
}